body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Globale Variablen für Farben. Nutzen per: var(<name>) (inkl. '--') */
:root {
  --cd_blau: rgb(10 , 85 , 140);
  --cd_tuerkis: rgb(50 , 180 , 200);
  --cd_gruen: rgb(0 , 145 , 90);
  --cd_hellgruen: rgb(110 , 165 , 60);
  --cd_gelb: rgb(250 , 190 , 0);
  --cd_orange: rgb(240 , 120 , 35);
  --cd_rot: rgb(195 , 5 , 50);
  --cd_violett: rgb(120 , 100 , 165);
}

:global(.cd_blau) {
  color: var(--cd_blau);
}

:global(.cd_tuerkis) {
  color: var(--cd_tuerkis);
}

:global(.cd_gruen) {
  color: var(--cd_gruen);
}

:global(.cd_hellgruen) {
  color: var(--cd_hellgruen);
}

:global(.cd_gelb) {
  color: var(--cd_gelb);
}

:global(.cd_orange) {
  color: var(--cd_orange);
}

:global(.cd_rot) {
  color: var(--cd_rot);
}

:global(.cd_violett) {
  color: var(--cd_violett);
}